<div class="default-background">
  <div class="row">
    <% if flash[:error].present? %>
      <div class="col-md-4 offset-md-4 alert alert-danger alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <%= flash[:error] %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-11 offset-1 col-sm-8 offset-sm-3 col-md-8 offset-md-3 col-lg-8 form-title">
      'Dashboard'
    </div>
  </div>
  <div class="row form-row">
    <%= link_to forms_index_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
        <p class="tile-title">Reporting</p>
        <p class="tile-desc">Fill out my form</p>
    <% end %>
    <%= link_to forms_index_path, :action => 'go', :class => "col-9 col-sm-4 col-md-3 form-tile" do %>
      <p class="tile-title">Check out the<br/>Movement</p>
      <p class="tile-desc">View the data output from our forms</p>
    <% end %>
  </div>
  <%= image_tag('/images/half_circle.png', class: 'half-logo')%>
</div>
