<h1>Welcome to the Reporting tool, <%= @user.full_name %></h1>

<p> You have successfully signed up to reporting.organise.earth </p>

<p> Your role assigned is: <%= Role.roles[@user.role] %></p>

<% if @user.role == "external" %>
    <p> You belong to the chapter: <%= @user.chapter.name %></p>
<% end %>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), @user.invitation_link %></p>