<h1>Welcome to the Reporting tool, <%= @user.full_name %></h1>

<p> You have successfully signed up to reporting.organise.earth </p>

<p> You belong to the <%= @user.chapter.name %> chapter, with an <%= @user.role %> role </p>
