<div class="default-background">
  <% if can? :access, :admins_index_url %>
    <h1 class="admin-title">Admin Dashboard</h1>

  <div class="admin-title">
    <%= link_to "Create A New Chapter", new_chapter_path %>
  </div>
  <div class="admin-title">
    <%= link_to "See All Chapters", chapters_path %>
  </div>
  <% end %>
  <%= image_tag('/images/half_circle.png', class: 'half-logo')%>
</div>
