<div class="default-background">
  <h1 class="admin-title">Admin Dashboard</h1>

  <div class="admin-title">
    <%= link_to "Create New Chapter", new_chapter_path, class: "chapter-link" %>
  </div>
</div>
