<div class="default-background">
    <%= render 'layouts/messages', flash: flash %>
    <%= render "users/form", submit_url: :users_update_path, title: 'Edit User' %>
    <%= image_tag('/images/half_circle.png', class: 'half-logo')%>
</div>