<div  class="default-background">
    <%= render 'layouts/messages', flash: flash %>
    <div class="col-md-4 offset-md-4 user-div">
        <div class="user-new-tittle">Add User</div>
        <div class="user-new-sub-tittle">* Required</div>
        <%= render "users/form", submit_url: :users_create_path %>
    </div>
    <%= image_tag('/images/half_circle.png', class: 'half-logo')%>
</div>