<div class="default-background">
    <%= render 'layouts/messages', flash: flash %>
    <%= render "users/form", submit_url: :users_create_path, title: 'Add User' %>
    <%= image_tag('/images/half_circle.png', class: 'half-logo')%>
</div>