<div class="container-fluid default-background">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 intro">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris metus, ultrices vel nisi at,
        elementum laoreet massa. Morbi ut elit ac arcu venenatis porta. Aliquam condimentum justo sed lectus sodales,
        at mollis orci semper. In dapibus volutpat eleifend. Aenean egestas nisi sed velit efficitur, eget laoreet enim lobortis.
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
      <p class="write-to">
        To sign up write to
      </p>
      <p class="email-to">
        reports@XXXXX.com
      </p>
    </div>
  </div>
</div>
