<div class="container-fluid default-background">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 intro">
      <p><strong>"Metrics for Mobilizers"</strong> is a project of <a href="https://mobilize.earth/" target="_blank">Mobilize Earth</a>, created in response to the expressed needs of active climate mobilization organizers for more powerful, yet anonymous, reporting on effectiveness of their activities to reach and empower more people.</p>
      <p><strong>This tool was built to help us understand the impact of our effort through reporting and the transparency of the collected data.</strong> We are now in a fight for all life on our planet. No one is prepared to face this alone and no one should.</p>
      <div class="col-12 col-md-6 offset-md-3 intro-join">
        <p>Join <strong>Metrics for Mobilizers</strong> and become part of something bigger:</p>
        <p class="intro-join-email"><a href="mailto:metrics@mobilize.earth" target="_blank">metrics@mobilize.earth</a></p>
      </div>
      <div class="intro-small">
        <p>This instance of the tool is owned by Extinction Rebellion Global Support, for use by all Extinction Rebellion groups. All data is held in organise.earth, hosted on Global Supports secure carbon neutral servers. The only data we collect are the details you give us.. This will include an email address, the region you are in and the data you input. We encourage and fully support anonymous contact. <a href="https://docs.google.com/document/d/1A68aRI0LIM83hL5z54VmwkwaiaBBmtqlmUT8Hppk__A/" target="_blank">Here is our privacy notice</a>.</p>
        <p class="intro-development-question"><strong>Interested in developing your own version for your climate movement?</strong></p>
        <p>This tool is open source and open access, visit the Mobilize Earth github below to access the code or to discuss custom staging, iterating and hosting, contact us.</p>
        <p>Mobilize Earth is setting out on a new course to mitigate the climate and ecological emergency by bringing together people from all walks of life. We are working to mobilize everyone - industry, activists, politicians, farmers, immigrants - to respond to the climate and ecological emergency.</p>
      </div>
    </div>
  </div>
</div>