<div class="container-fluid content">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 intro">
      <p><strong>"Metrics for Mobilizers"</strong> is a project of <a href="https://mobilize.earth/" target="_blank">Mobilize Earth</a> created in response to the needs of climate mobilization organizers for more powerful, yet anonymous, reporting on the effectiveness of their activities.</p>
      <p><strong>This tool was built to help us understand the impact of our efforts through reporting and sharing collected data.</strong> We are now in a fight for all life on our planet. No one is prepared to face this alone and no one should. </p>
      <div class="col-12 col-md-6 offset-md-3 intro-join">
        <p>Join <strong>Metrics for Mobilizers</strong> and become part of something bigger:</p>
        <p class="intro-join-email"><a href="mailto:metrics@mobilize.earth" target="_blank">metrics@mobilize.earth</a></p>
      </div>
      <div class="intro-small">
        <p>This instance of the tool is owned by Extinction Rebellion Global Support, for all Extinction Rebellion groups to use. The information collected from this tool is stored in organise.earth, hosted on Global Support’s secure carbon neutral servers. We encourage and fully support anonymous contact and only collect the data that you give us. This will include an email address, the region you are in and the data you input about your chapter. <a href="https://docs.google.com/document/d/1A68aRI0LIM83hL5z54VmwkwaiaBBmtqlmUT8Hppk__A/" target="_blank">Here is our privacy notice</a>.</p>
        <p class="intro-development-question"><strong>Interested in developing your own reporting tool for your climate movement?</strong></p>
        <p>This tool is open source and open access. Visit the Mobilize Earth GitHub repository below to access the code. Contact us to discuss custom staging, iterating or hosting.</p>
        <p>Mobilize Earth is setting out on a new course to bring together people from all walks of life&mdash;industry, activists, politicians, farmers, immigrants&mdash;to respond to the climate and ecological emergency.</p>
      </div>
    </div>
  </div>
</div>