<div class="default-background ">
  <div class="container-fluid">
    <div class="form-group">
      <div class="col-md-12">
        <h1 class="form-title">Street Swarms</h1>
        <p>Click the tab below to complete your form. Repeat if you did more than one Street Swarm. </p>
      </div>
    </div>
  </div>
  <%= render "street_swarms/form" %>
</div>
