<div class="container-fluid default-background">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
      <p class="write-to">
        Location Spike
      </p>
      <div class="form-row chapter-row">
        <%= label_tag 'country', 'Country' %>
        <%= select_tag :country_code, options_for_select(@countries.collect{ |c| [c.second, c.first] }), {class: "form-control", include_blank: "Countries"} %>
      </div>
      </div>
  </div>
</div>
