<div class="container-fluid default-background">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
      <p class="write-to">
        Location Spike
      </p>
      <p class="email-to">
        <%= @countries %>
      </p>
    </div>
  </div>
</div>
