.action-form {
  .action-btn-active {
    @include standard-hover-state();

    background-color: $white;
    border-radius: 0.25rem;
    box-shadow: $standard-box-shadow;
    color: $black;
    height: 2.75rem;
    margin-bottom: 0.625rem;
    text-align: center;
    white-space: nowrap;
  }

  .nav-pills .nav-link.active {
    background-color: $mid-light-grey;
  }

  #hide-until-type-selected {
    display: none;
  }

  #tab-container {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #form-title {
    color: $black;
    font-size: 1.6rem;
  }

  .default-tab-text {
    color: #9b9b9b;
    font-weight: 600;
    letter-spacing: 1.8px;
  }

  .action-form-content {
    background-color: $white;
    box-shadow: $standard-box-shadow;
    border-radius: 0.25rem;
    padding: 1.25rem;
    z-index: 1;
  }

  .warning {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    font-style: italic;
  }

  .action-form-label {
    color: $grey;
    font-size: 0.9rem;
  }

  .action-form-input {
    max-width: 140px;
  }

  .action-form-option-button {
    color: $black;
    font-size: 13px;
    padding: 5px;

    input {
      margin-right: 0.25rem;
    }
  }
}

.action-form-finish-container {
  margin-left: 5px;
  margin-bottom: 20px;
}

#blitz-form-body {
  display: none;
}

#arrestable-form-body {
  display: none;
}

#swarm-form-body {
  display: none;
}

#mobilization-form-body {
  display: none;
}

@media (max-width: 767px) {
  .tab-content {
    display: none;
    background-color: transparent;
    position: absolute;
    margin-bottom: 20px;
  }
  .form-header {
    padding-bottom: 0px;
  }
  .action-submit-btn {
    margin-bottom: 5px;
  }
}
