.admin-title {
  text-align: center;
}

.admin-page {
  @include media-breakpoint-up(lg) {
    max-width: 1400px;
  }

  .row {
    height: 100%;
  }

  .outer-box {
    z-index: 1;
    margin-bottom: 50px;
  }

  .left-nav,
  .admin-page-content {
    box-shadow: $standard-box-shadow;
    border: $background-green;
    background: $white;
    z-index: 1;
  }

  .full-height {
    height: 100%;
  }

  .nav-title {
    text-align: center;
    padding: 1rem 0 0.75rem 0;
    letter-spacing: 1.35px;
    font-weight: 500;
  }

  .left-nav-item {
    @include standard-hover-state();

    padding: 0.5rem 0;
    display: block;
    color: inherit;
    cursor: pointer;
    font-size: 1.25rem;
  }

  .left-nav-icon {
    display: inline-block;
    width: 35%;
    text-align: right;
    padding: 0 0.6rem 0 0;
  }

  .extra-padding {
    padding-right: 0.85rem;
  }

  .left-nav-text {
    display: inline-block;
    width: 55%;
  }

  .content-top-row {
    height: 3.75rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 0.25rem;

    a {
      @include standard-hover-state();

      color: #000;
      border-radius: 0.5rem;
    }

    .fa {
      padding: 0.25rem 0.25rem 0;
      font-size: 2.25rem;
    }
  }

  .content-header {
    background-color: $grey;
    height: 2.5rem;

    .column {
      line-height: 2.5rem;
      font-weight: bold;
      color: $white;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .content-row-container {
    overflow: scroll;
    height: 40rem;
    padding: 0 0.5em;
    margin: 0 -15px 0 -15px;

    .empty-chapters {
      color: #9b9b9b;
      font-weight: 600;
      letter-spacing: 1.8px;
      text-align: center;
    }
  }

  .content-row {
    border-bottom: 1px solid $grey;
    height: 3rem;

    .column {
      line-height: 3rem;
      overflow: hidden;
      white-space: nowrap;
    }

    a {
      @include standard-hover-state();
      color: inherit;
      display: flex;
      height: calc(100% - 1rem);
      justify-content: center;
      align-items: center;
      margin: 0.5rem 0;
      font-size: 1.2rem;
    }
  }

  #link-users,
  #link-chapters {
    font-size: 1.2em;
    padding: 0.5rem;

    span {
      vertical-align: middle;
    }

    .fa {
      font-size: 1.5em;
      padding-top: 0;
      vertical-align: middle;
    }
  }

  #content-chapters,
  #link-chapters {
    display: none;
  }

  .selected {
    color: $link-blue;

    &:hover {
      color: $link-blue;
    }
  }
}
