.chapter-row {
  margin: 1rem 0;

  .list-group {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.action-buttons {
  margin: 1.5rem 0;
}

.admin-form-title {
  font-size: 1.75rem;
}

.admin-form-subtitle {
  font-size: 1rem;
  color: $grey;
}

.coordinators-label {
  margin-bottom: 0.5rem;
  margin-left: -5px;
  margin-right: -5px;
}

