$border: 0.1rem solid $grey;
$page-padding-top: 4rem;
$page-height: 50rem;
$header-height: 3.75rem;
$title-row-height: 2.5rem;
$content-height: $page-height - $page-padding-top - $header-height -
  $title-row-height;

.admin-title {
  text-align: center;
}

.admin-page {
  padding-top: $page-padding-top;

  @include media-breakpoint-up(lg) {
    height: $page-height;
  }

  .row {
    height: 100%;
  }

  .outer-box {
    z-index: 1;
    margin-bottom: 50px;
  }

  .left-nav,
  .content {
    box-shadow: $standard-box-shadow;
    border: $border;
    background: $white;
    height: 100%;
    z-index: 1;
  }

  h2 {
    color: $grey;
    text-align: center;
    padding: 1rem 0 0.75rem 0;
    letter-spacing: 1.35px;
    font-weight: 600;
  }

  .left-nav-item {
    @include standard-hover-state();

    padding: 0.5rem 0;
    display: block;
    color: inherit;
    cursor: pointer;
    font-size: 1.25rem;
  }

  .left-nav-icon {
    display: inline-block;
    width: 35%;
    text-align: right;
    padding: 0 0.6rem 0 0;
  }

  .extra-padding {
    padding-right: 0.85rem;
  }

  .left-nav-text {
    display: inline-block;
    width: 55%;
  }

  .content-top-row {
    height: $header-height;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 0.8rem;

    a {
      @include standard-hover-state();

      color: #000;
      border-radius: 0.5rem;
    }

    .fa {
      padding: 0.25rem 0.25rem 0;
      font-size: 2.25rem;
    }
  }

  .content-header {
    background-color: $grey;
    border-bottom: $border;
    height: $title-row-height;

    .column {
      line-height: $title-row-height;
      font-weight: 600;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .content-row-container {
    overflow: scroll;
    height: $content-height;
    padding: 0 0.5em;
    margin: 0 -15px 0 -15px;
  }

  .content-row {
    border-bottom: $border;
    height: 3rem;

    .column {
      line-height: 3rem;
      overflow: hidden;
      white-space: nowrap;
    }

    a {
      @include standard-hover-state();
      color: inherit;
      display: flex;
      height: calc(100% - 1rem);
      justify-content: center;
      align-items: center;
      margin: 0.5rem 0;
      font-size: 1.2rem;
    }
  }

  #link-users,
  #link-chapters {
    font-size: 1.2em;

    span {
      vertical-align: middle;
    }

    .fa {
      font-size: 1.5em;
      padding-top: 0;
      vertical-align: middle;
    }
  }

  #content-chapters,
  #link-chapters {
    display: none;
  }

  .selected {
    color: $blue;

    &:hover {
      color: $blue;
    }
  }
}
