@import "./bootstrap_custom";
@import "./constants";
@import "./header";
@import "./page_header";
@import "./landing";
@import "./login";
@import "./fonts";
@import "./forms";
@import "./admin";
@import "./chapter";
@import "./chapter_form";
@import "./reporting";
@import "./user_new";
@import "./user_form";
@import "./action_forms";
@import "./report_charts";
@import "./report_table";
@import "./report_tiles";
@import "./report_filter";
@import "./buttons";
@import "./date_partial";
@import "./footer.scss";

body {
  font-family: Poppins, sans-serif;
  background-color: $background-green;
  font-size: 16px;
  color: $black;
}