@import "./bootstrap_custom";
@import "./constants";
@import "./buttons";
@import "./header";
@import "./page_header";
@import "./landing";
@import "./login";
@import "./fonts";
@import "./forms";
@import "./admin";
@import "./admin_forms";
@import "./reporting";
@import "./action_forms";
@import "./report_charts";
@import "./report_table";
@import "./report_tiles";
@import "./report_filter";
@import "./date_partial";
@import "./footer";

body {
  font-family: Poppins, sans-serif;
  background-color: $background-green;
  font-size: 16px;
  color: $black;
}

.content {
  min-height: calc(100vh - 160px - 2.5rem);
  margin: 2.5rem 0;
}