@import "./bootstrap_custom.scss";
@import "./constants.scss";
@import "./header.scss";
@import "./landing.scss";
@import "./login.scss";
@import "./fonts.scss";
@import "./forms.scss";
@import "./admin.scss";
@import "./chapter.scss";
@import "./chapter_form.scss";
@import "./reporting.scss";
@import "./user_new.scss";
@import "./user_form.scss";
@import "./action_forms.scss";
@import "./report_charts.scss";
@import "./report_table.scss";
@import "./report_tiles.scss";
@import "./report_filter.scss";
@import "./buttons.scss";
@import "./date_partial.scss";
@import "./footer.scss";

body {
  font-family: Poppins, sans-serif;
  background-color: $background-green;
  font-size: 16px;
  color: $black;
}