.submit-button, .cancel-button {
  padding: 0.5rem 1.5rem;
  font-size: 1.125rem;
}

.submit-button {
  background-color: $green;
  color: $white;
  border: none;
  margin-left: 20px;

  &:hover {
    color: $white;
    background-color: $darker-green;
    border: none;
  }
}

.cancel-button {
  border: 1px solid $dark-red;
  background-color: rgba(0,0,0,0);
  color: $dark-red;

  &:hover {
    background-color: $dark-red;
    color: $white;
  }
}

.login-button, .logout-button {
  @include standard-hover-state();

  border: 2px solid $green;
  padding: 0.5rem 2rem;
  color: $black;
  font-size: 1rem;
}