.chapter-row {
  padding-top: 10px;
  padding-bottom: 10px;

  .list-group {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.chapter-title {
  padding-top: 20px;
  padding-bottom: 10px;
}

.action-buttons {
  padding-top: 25px;
}

.admin-form-title {
  padding-top: 80px;
  font-size: 18px;
  font-weight: bold;
  color: $black;
}

.admin-form-subtitle {
  font-size: 14px;
  color: $black;
}

.admin-form-body {

}

.coordinators-label {
  margin-bottom: 0.5rem;
  margin-left: -5px;
  margin-right: -5px;
}

