$black: #000;
$grey: #9b9b9b;
$mid-light-grey: #a6a6a6;
$light-grey: #ddd;
$lighter-grey: #f4f5f0;
$white: #fff;

$navy: #011b1c;
$blue: #33e;
$green: #03ad6f;
$lighter-green: #3c3;
$red: #f99;
$dark-red: #d0021b;

$standard-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

$header-height: 6.25rem;