$black: #333;
$grey: #9b9b9b;
$mid-light-grey: #a6a6a6;
$light-grey: #ddd;
$white: #fff;

$navy: #011b1c;
$blue: #33e;
$darker-green: #094;
$green: #03ad6f;
$lighter-green: #3c3;
$background-green: #f4f7f6;
$red: #f99;
$dark-red: #d0021b;

$header-height: 6.25rem;

$standard-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

@mixin standard-hover-state () {
  &:hover {
    background-color: $light-grey;
    cursor: pointer;
    color: $black;
    text-decoration: none;
  }
}