.form-title {
  color: #03ad6f;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.8px;
  margin-top: 41px;
}

.form-tile {
  height: 240px;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  margin-left: 50px;
  margin-top: 50px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;

  &.disabled {
    pointer-events: none;
    background: #a6a6a6;
  }

  &:hover {
    border: 1px solid #03ad6f;
  }

  &.contrast {
    background-color: #03ad6f;
    color: #ffffff;

    &:hover {
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
}

a:link.form-tile {
  text-decoration: none;
}

a:hover.form-tile {
  color: black;
}

.tile-desc {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.05px;
}

.tile-title {
  padding-top: 25px;
  padding-bottom: 50px;
  letter-spacing: 1.8px;
}

@media (max-width: 575px) {
  .form-title {
    margin-top: 90px;
    font-size: 20px;
  }
  .half-logo {
    display: none;
  }
}

@media (max-width: 770px) {
  .half-logo {
    display: none;
  }
}

.half-logo {
  width: 275px;
  height: 575px;
  position: absolute;
  top: 200px;
  right: 0px;
  z-index: 0;
}
