.header {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo {
    overflow: hidden;
    width: $header-height * 2.5;
    height: $header-height * 1.5;
    margin-top: -($header-height / 2);
    margin-left: -0.5rem;
  }

  nav {
    height: 100%;

    a {
      display: inline-block;
      padding: 0 1rem;
      line-height: $header-height / 2;
      margin-top: $header-height / 4;
      color: $black;
      font-size: 1rem;
      letter-spacing: 0.5px;

      &:hover {
        background-color: $light-grey;
        cursor: pointer;
        color: $black;
        text-decoration: none;
      }
    }

    .selected {
      border-bottom: 2px solid $green;
    }
  }

  .login-button, .logout-button {
    border: 2px solid $green;
    padding: 0.5rem 2rem;

    &:hover {
      background-color: $light-grey;
      cursor: pointer;
    }
  }

  .header-right {
    margin-right: 1.5rem;
    margin-left: auto;

    span {
      margin: 0;
      padding: 0;
    }

    .name {
      margin: 0 0.5rem;
    }

    &:hover {
      background-color: $light-grey;
      cursor: pointer;
    }

    .dropdown {
      .dropdown-toggle {
        color: $black;
        line-height: $header-height / 2;
        display: block;
        padding: 0 1rem;

        .fa {
          margin-top: -3px;
        }

        &:hover {
          text-decoration: none;
          background-color: $light-grey;
          cursor: pointer;
        }
      }

      .dropdown-menu {
        padding: 0;
        box-shadow: $standard-box-shadow;
        border-radius: 0;
        border: 0;

        a {
          display: block;
          color: $black;
          padding: 1rem;
          background-color: $white;
          border: 2px solid $light-grey;
          border-bottom: 0;
          text-align: center;

          &:hover {
            text-decoration: none;
            background-color: $light-grey;
            cursor: pointer;
          }

          &:last-child {
            border-bottom: 2px solid $light-grey;
          }
        }
      }
    }
  }
}