.default-background {
  min-height: calc(100vh - 100px);
  padding-top: 40px;
}

.intro {
  margin-top: 110px;
  font-size: 20px;
}

.write-to {
  text-align: center;
  margin-top: 25px;
  font-size: 36px;
  color: $green;
}

.email-to {
  text-align: center;
  font-size: 25px;
}

@media (max-width: 760px) {
  .intro {
    font-size: 15px;
  }
  .write-to {
    font-size: 25px;
  }
  .email-to {
    font-size: 20px;
  }
}
