.landing {
  background-color: #F5F5F5;
  min-height: 100vh;
}

.intro {
  margin-top: 100px;
  font-size: 25px;
}
.write-to {
  text-align: center;
  margin-top: 25px;
  font-size: 40px;
  color: #32CD32;
}

.email-to {
  text-align: center;
  font-size: 25px;
}
