.login {
    background-color: #F4F5F0;
    min-height: 100vh;
}

.data_form_title {
    margin-top: 100px;
    font-size: 24px;
    font-weight: 500;
}

.data_form {
    font-size: 18px;
    font-weight: 400;
}

.data_field {
    padding-top: 20px;
}

.data_entry {
    width: 415px;
    height: 75px;
    padding-top: 10px;
    border: 1px solid black;
}

.login_button_section {
    padding-top: 30px;
    text-align: center;
}

.login_button {
    width: 207.5px;
    height: 75px;
    background-color: #03AD6F;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    border: 1px solid black;
}