.data_form_title {
    margin-top: 110px;
    font-size: 24px;
    font-weight: 500;
}

.data_form_subtitle {
    font-size: 1rem;
    color: $grey;
}

.data_form {
    font-size: 18px;
    font-weight: 400;
}

.data_field {
    padding-top: 20px;
}

.data_entry {
    height: 75px;
    border: 1px solid $black;
}

.login_button_section {
    padding-top: 30px;
    text-align: right;
}

.login_button {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.login_input {
    position: relative;
}

.login_input input { 
    text-indent: 35px;
    width: 100%;
}

.login_input_icon { 
    position: absolute;
    top: 28px;
    left: 10px;
    cursor: pointer;
}

.login_message_error {
    padding-top: 25px;
}

.login_forget_password {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

@media(max-width: 950px) {
    .half_login_logo { display: none; }
}

.half_login_logo {
    width: 275px;
    height: 575px;
    position: absolute;
    top: 200px;
    right: 0px;
}

#error_explanation {
    h2 {
        display: none;
    }
}

.outer-box {
    z-index: 1;
}