.report-tiles-container {
  margin-bottom: 2rem;

  .report-tiles-title {
    padding-left: 15px;
    padding-top: 15px;
  }

  .report-card-content {
    background-color: $white;
    border-radius: 6px;
    box-shadow: $standard-box-shadow;
    margin: 10px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;

    .growth-number {
      color: $green;

      &.number-negative {
        color: $dark-red;
      }

      &.number-zero {
        color: $grey;
      }
    }

    .growth-description {
      font-size: 1.25rem;
      color: $grey;
    }

    .report-card-title {
      padding-top: 10px;
      padding-bottom: 10px;

      @include media-breakpoint-up(sm) {
        font-size: 1.75rem;
      }
    }

    .report-card-top {
      text-align: justify;
      display: inline-block;
      width: 100%;

      h1,
      h3 {
        display: inline-block;
      }

      h1 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1rem;
        color: $grey;
      }

      .card-top-right {
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .report-card-bottom {

      .growth-description {
        font-size: 0.9rem;
      }
    }
  }
}
