.report-filter-container {

  &#sticky-filter-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $background-green;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .report-page-header {
    padding-left: 25px;

    .report-page-subtitle {
      color: $green;
      font-size: 1rem;
    }
  }

  #report-page-breadcrumbs {
    padding-left: 1rem;

    h5 {
      font-size: 1rem;
      line-height: 2.5rem;

      @media (max-width: 576px) {
        line-height: 2rem;
        padding-top: 10px;
        font-size: 12px;
      }
    }

    &.hidden,
    .hidden {
      visibility: hidden;

      @media (max-width: 576px) {
        display: none;
      }
    }

    .fa-angle-right {
      padding: 0 1rem;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .report-page-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
  }

  .nav {
    margin-left: 15px;

    @media (max-width: 576px) {
      font-size: 90%;
    }
  }

  .nav-link {
    @include standard-hover-state();

    margin-left: 5px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    box-shadow: $standard-box-shadow;
    cursor: pointer;
  }

  .nav-link.active {
    background-color: #a6a6a6;
  }

}

.csv-download {
  text-align: end;
  padding: 0.5rem;
}