.reporting {
  .btn {
    border: 2px solid #03ad6f;
    height: 50px;
    width: 152px;
  }

  .title-prefix {
    width: 303px;
    height: 25px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.35px;
    color: #011b1c;
  }

  .strong {
    font-weight: 600;
  }

  .reporting-tiles-container {
    & > div.row:last-child {
      margin-top: 50px;
      text-align: center;
    }
  }
}
