$table-padding: 1rem;

.report-table-description {
  padding: 0 1rem;

  p {
    font-size: 16px;
  }
}

.report-table-padding-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}
.report-table-container {
  max-height: 535px;
  overflow-y: auto;
  border-radius: 6px;
  box-shadow: $standard-box-shadow;
  margin-bottom: 2rem;

  table.report-table {
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #323c47;

    margin-bottom: 0;

    .report-table-title {
      font-size: 1rem;
      border-bottom: 5px $background-green solid;
    }

    td, th {
      border: 0;
    }

    th {
      position: sticky;
      top: 0;
      background-color: white;
      color: black;
      padding: 2.0rem $table-padding $table-padding;
      text-align: center;
      font-weight: bold;

      &:first-child{
        padding-left: 1.5rem;
        text-align: left;
      }

      &:nth-child(5) {
        border-right: 5px $background-green solid;
      }

      .fa-sort{
        padding-left: 8px;
      }
    }

    td {
      padding: $table-padding;
      border-bottom: solid 1px #e9eff4;
      text-align: center;

      &:first-child{
        text-align: left;
        font-weight: normal;
        padding-left: 1.5rem;
      }

      &:nth-child(5) {
        border-right: 5px $background-green solid;
      }

      a {
        text-decoration: underline;
      }
    }

  }
}