.user-new-tittle {
    padding-top: 80px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.user-new-sub-tittle {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.user-div {
    padding-left: 75px;
}