.user-form-div {
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.btn-cancel {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #03AD6F;
    height: 50px;
    width: 152px;
}

.btn-submit {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #03AD6F;
    color: #FFFFFF;
    height: 50px;
    width: 152px;
}

.options-form-div {
    padding-top: 25px;
    float: center;
}