<div class="content">
  <%= render 'layouts/messages', flash: flash %>
  <%= render "chapters/form", title: "Update #{@chapter.name}" %>
  <%= image_tag('/images/half_circle.png', class: 'half-logo')%>
</div>
