<div class="default-background">
  <h1 class="chapter-title">All Chapters</h1>

    <% @chapters.each do |chapter| %>
      <div class="chapter-title">
        <p><%= chapter.name %></p>
        <p>Active Members: <%= chapter.active_members %></p>
        <p><%= chapter.description %></p>
        <p><%= link_to 'Edit Chapter', edit_chapter_path(chapter) %>
      </div>
    <% end %>

</div>
