<div class="default-background">
  <%= render 'layouts/messages', flash: flash %>
  <%= render "chapters/form", title: 'Add Chapter' %>
  <%= image_tag('/images/half_circle.png', class: 'half-logo')%>
</div>
