<img class="half-logo" src="/images/half_circle.png">
  <div class="text-left col-md-8 action-form-finish-container hide-on-mobile">
    <%= link_to forms_index_path, :action => 'go', :class => "btn btn-outline-danger test-cancel-street-swarm" do %>
      Back to Report Entry Menu
    <% end %>
  </div>