<div class="row">
  <div class="chart-container col-12">
    <div class="chart-content">
      <h2>Mobilizations</h2>
      <h3>
        <span class="report-page-start-date">30 February 2020</span>
        -
        <span class="report-page-end-date">32 February 2020</span>
      </h3>
      <div class="chart-tabs">
        <div class="chart-tab selected">Participants</div>
        <div class="chart-tab">XR Subscriptions</div>
        <div class="chart-tab">Arrestable Pledges</div>
      </div>
      <div class="chart">
        <canvas id="chart"></canvas>
      </div>
      <div class="chart-metrics">
        <div class="active-participants">
          <h4>Average Participants</h4>
          <span id="average-participants">150</span>
        </div>
        <div class="metrics-container">
          <div class="metric">
            <div class="title">600</div>
            <div class="visual"></div>
            <div class="subtitle">H4E</div>
          </div>
          <div class="metric">
            <div class="title">600</div>
            <div class="visual"></div>
            <div class="subtitle">Leaf Letting</div>
          </div>
          <div class="metric">
            <div class="title">600</div>
            <div class="visual"></div>
            <div class="subtitle">Chalking</div>
          </div>
          <div class="metric">
            <div class="title">600</div>
            <div class="visual"></div>
            <div class="subtitle">Door Knocking</div>
          </div>
          <div class="metric">
            <div class="title">600</div>
            <div class="visual"></div>
            <div class="subtitle">1:1 Recruiter</div>
          </div>
          <div class="metric">
            <div class="title">600</div>
            <div class="visual"></div>
            <div class="subtitle">Street Stalls</div>
          </div>
          <div class="metric">
            <div class="title">600</div>
            <div class="visual"></div>
            <div class="subtitle">House Meeting</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>