<div class="report-filter-container row">
  <div class="report-page-header col-md-6 col-sm-12">
    <h1 class="report-page-title">Global</h1>
    <h2 class="report-page-subtitle">
      <span id="report-page-start-date">30 February 2020</span>
      -
      <span id="report-page-end-date">32 February 2020</span>
    </h2>
  </div>
  <div class="report-page-header-right col-md-6 col-sm-12">
    <div>Last <span id="filter-day-count">0</span> days</div>
    <nav class="nav nav-pills nav-justified">
      <a id="filter-week" class="nav-link">1W</a>
      <a id="filter-month" class="nav-link">1M</a>
      <a id="filter-quarter" class="nav-link">3M</a>
      <a id="filter-half-year" class="nav-link">6M</a>
    </nav>
  </div>
</div>