<div class="row">
  <div class="chart-container col-12">
    <div class="chart-content">
      <h2>Mobilizations</h2>
      <h3>
        <span class="report-page-start-date">30 February 2020</span>
        -
        <span class="report-page-end-date">32 February 2020</span>
      </h3>
      <div class="chart-tabs">
        <div class="chart-tab selected">Participants</div>
        <div class="chart-tab">XR Subscriptions</div>
        <div class="chart-tab">Arrestable Pledges</div>
      </div>
      <div class="chart">
        <canvas id="chart"></canvas>
      </div>
      <div class="chart-metrics">
        <div class="metric-highlights">
          <div class="metric-highlight">
            <h4>Average Participants</h4>
            <span id="average-participants">_</span>
          </div>
          <div class="metric-highlight">
            <h4>Average New Members</h4>
            <span id="average-new-members">_</span>
          </div>
        </div>
        <div class="mobilization-metrics-container">
        </div>
      </div>
    </div>
  </div>
</div>