<div class="report-tiles-container">
  <div class="row">
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-left">
          <h1 id="members">0</h1>
          <h3>Total</h3>
        </div>
        <h2>Members</h2>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-left">
          <h1 id="chapters">0</h1>
          <h3>Total</h3>
        </div>
        <h2>Chapters</h2>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-left">
          <h1 id="actions">0</h1>
          <h3>Total</h3>
        </div>
        <h2>Actions</h2>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-left">
          <h1 id="trainings">0</h1>
          <h3>Total</h3>
        </div>
        <h2>Trainings</h2>
      </div>
    </div>
  </div>
</div>