<div class="report-table-description">
  <p>Navigate the reports by location in the table below.</p>
</div>
<div class="report-table-padding-wrapper">
  <div class="table-responsive report-table-container">
    <table class="table report-table">
      <thead>
      <tr>
        <td rowspan="1" class="report-table-title"></td>
        <td colspan="4" scope="colgroup" class="report-table-title">Totals All Time</td>
        <td colspan="4" scope="colgroup" class="report-table-title">Totals Last <span class="filter-day-count">7</span> Days</td>
      </tr>
      <tr>
        <th scope="col" xr-table-key=""></th>
        <th scope="col" xr-table-key="chapters">Chapters<i class="fa fa-sort"></i></th>
        <th scope="col" xr-table-key="members">Mobilizers<i class="fa fa-sort"></i></th>
        <th scope="col" xr-table-key="subscriptions">$ Subscriptions<i class="fa fa-sort"></i></th>
        <th scope="col" xr-table-key="arrestable_pledges">Pledges<i class="fa fa-sort"></i></th>
        <th scope="col" xr-table-key="mobilizations">Growth Activities<i class="fa fa-sort"></i></th>
        <th scope="col" xr-table-key="trainings">Trainings<i class="fa fa-sort"></i></th>
        <th scope="col" xr-table-key="signups">Newsletter signups<i class="fa fa-sort"></i></th>
        <th scope="col" xr-table-key="actions">Actions<i class="fa fa-sort"></i></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>