<div class="report-filter-container row">
  <div class="report-page-header col-md-6 col-sm-12">
    <h1 class="report-page-title">Global</h1>
    <h2 class="report-page-subtitle">
      <span id="report-page-start-date">30 February 2020</span>
      -
      <span id="report-page-end-date">32 February 2020</span>
    </h2>
  </div>
  <div class="report-page-header-right col-md-6 col-sm-12">
    <div>Last <span id="filter-day-count">0</span> days</div>
    <nav class="nav nav-pills nav-justified">
      <a id="filter-week" class="nav-link">1W</a>
      <a id="filter-month" class="nav-link">1M</a>
      <a id="filter-quarter" class="nav-link">3M</a>
      <a id="filter-half-year" class="nav-link">6M</a>
    </nav>
  </div>
</div>
<script>
    (() => {
        const stripHash = hash => hash ? hash.substring(1) : '';
        const setFilterDayCount = num => document.getElementById('filter-day-count').textContent = num;
        const setActiveFilter = ele => {
            for(const filterLink of document.getElementsByClassName('nav-link')) {
                filterLink.classList.remove('active');
            }

            ele.classList.add('active');
        }

        window.addEventListener("hashchange", () => {
            const hash = location.hash ? stripHash(location.hash) : 'week';
            setActiveFilter(document.getElementById(`filter-${hash}`));
            switch (hash) {
                case "week":
                    setFilterDayCount(7);
                    break;
                case "month":
                    setFilterDayCount(30);
                    break;
                case "quarter":
                    setFilterDayCount(90);
                    break;
                case "half-year":
                    setFilterDayCount(180);
                    break;
            }
        }, false);

        const clickFilterLink = (hash) => {
            location.hash = hash;
        };

        document.getElementById('filter-week').addEventListener('click', (e) => clickFilterLink('week'));
        document.getElementById('filter-month').addEventListener('click', (e) => clickFilterLink('month'));
        document.getElementById('filter-quarter').addEventListener('click', (e) => clickFilterLink('quarter'));
        document.getElementById('filter-half-year').addEventListener('click', (e) => clickFilterLink('half-year'));

        if (location.hash === '#month') {
            setActiveFilter(document.getElementById('filter-month'));
            setFilterDayCount(30);
        } else if (location.hash === '#quarter') {
            setActiveFilter(document.getElementById('filter-quarter'));
            setFilterDayCount(90);
        } else if (location.hash === '#half-year') {
            setActiveFilter(document.getElementById('filter-half-year'));
            setFilterDayCount(180);
        } else {
            setActiveFilter(document.getElementById('filter-week'));
            setFilterDayCount(7);
        }
    })();
</script>