<div class="report-tiles-container">
  <div class="row">
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-top">
          <div class="row">
            <div class="col-5">
              <h1 id="chapters">0</h1>
            </div>
            <div class="col-7 card-top-right">
              <h3>Total Chapters</h3>
            </div>
          </div>
        </div>
        <h4 class="report-card-title">Chapters</h4>
        <div class="report-card-bottom">
          <div class="row">
            <div class="col-5">
              <h5>
                <span class="growth-number" id="chapters-growth">0</span>
                <span class="fa fa-arrow-up"></span>
              </h5>
            </div>
            <div class="col-7">
              <h5>
                <span class="growth-description">New Chapters</span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-top">
          <div class="row">
            <div class="col-5">
              <h1 id="members">0</h1>
            </div>
            <div class="col-7 card-top-right">
              <h3>Total Members</h3>
            </div>
          </div>
        </div>
        <h4 class="report-card-title">Members</h4>
        <div class="report-card-bottom">
          <div class="row">
            <div class="col-5">
              <h5>
                <span class="growth-number" id="members-growth">0</span>
                <span class="fa fa-arrow-up"></span>
              </h5>
            </div>
            <div class="col-7">
              <h5>
                <span class="growth-description">New Members</span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-top">
          <div class="row">
            <div class="col-5">
              <h1>$<span id="subscriptions">0</span></h1>
            </div>
            <div class="col-7 card-top-right">
              <h3>Total Subscriptions</h3>
            </div>
          </div>
        </div>
        <h4 class="report-card-title">Subscriptions</h4>
        <div class="report-card-bottom">
          <div class="row">
            <div class="col-5">
              <h5>
                <span class="growth-number" id="subscriptions-growth">0</span>
                <span class="fa fa-arrow-up"></span>
              </h5>
            </div>
            <div class="col-7">
              <h5>
                <span class="growth-description">New Subscriptions</span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-top">
          <div class="row">
            <div class="col-5">
              <h1 id="mobilizations">0</h1>
            </div>
            <div class="col-7 card-top-right">
              <h3>Total Past <span class="filter-day-count">0</span> Days</h3>
            </div>
          </div>
        </div>
        <h4 class="report-card-title">Growth Activities</h4>
        <div class="report-card-bottom">
          <div class="row">
            <div class="col-5">
              <h5>
                <span class="growth-number" id="mobilizations-growth">0</span>
                <span class="fa fa-arrow-up"></span>
              </h5>
            </div>
            <div class="col-7">
              <h5>
                <span class="growth-description">
                  From Previous
                  <span class="filter-day-count">0</span>
                  Days
                </span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-top">
          <div class="row">
            <div class="col-5">
              <h1 id="trainings">0</h1>
            </div>
            <div class="col-7 card-top-right">
              <h3>Total Past <span class="filter-day-count">0</span> Days</h3>
            </div>
          </div>
        </div>
        <h4 class="report-card-title">Trainings</h4>
        <div class="report-card-bottom">
          <div class="row">
            <div class="col-5">
              <h5>
                <span class="growth-number" id="trainings-growth">0</span>
                <span class="fa fa-arrow-up"></span>
              </h5>
            </div>
            <div class="col-7">
              <h5>
                <span class="growth-description">
                  From Previous
                  <span class="filter-day-count">0</span>
                  Days
                </span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-top">
          <div class="row">
            <div class="col-5">
              <h1 id="pledges-arrestable">0</h1>
            </div>
            <div class="col-7 card-top-right">
              <h3>Total Past <span class="filter-day-count">0</span> Days</h3>
            </div>
          </div>
        </div>
        <h4 class="report-card-title">Arrestable Pledges</h4>
        <div class="report-card-bottom">
          <div class="row">
            <div class="col-5">
              <h5>
                <span class="growth-number" id="pledges-arrestable-growth">0</span>
                <span class="fa fa-arrow-up"></span>
              </h5>
            </div>
            <div class="col-7">
              <h5>
                <span class="growth-description">
                  From Previous
                  <span class="filter-day-count">0</span>
                  Days
                </span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-top">
          <div class="row">
            <div class="col-5">
              <h1 id="newsletter-signups">0</h1>
            </div>
            <div class="col-7 card-top-right">
              <h3>Total Past <span class="filter-day-count">0</span> Days</h3>
            </div>
          </div>
        </div>
        <h4 class="report-card-title">Newsletter Signups</h4>
        <div class="report-card-bottom">
          <div class="row">
            <div class="col-5">
              <h5>
                <span class="growth-number" id="newsletter-signups-growth">0</span>
                <span class="fa fa-arrow-up"></span>
              </h5>
            </div>
            <div class="col-7">
              <h5>
                <span class="growth-description">
                  From Previous
                  <span class="filter-day-count">0</span>
                  Days
                </span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-top">
          <div class="row">
            <div class="col-5">
              <h1 id="actions">0</h1>
            </div>
            <div class="col-7 card-top-right">
              <h3>Total Past <span class="filter-day-count">0</span> Days</h3>
            </div>
          </div>
        </div>
        <h4 class="report-card-title">Actions</h4>
        <div class="report-card-bottom">
          <div class="row">
            <div class="col-5">
              <h5>
                <span class="growth-number" id="actions-growth">0</span>
                <span class="fa fa-arrow-up"></span>
              </h5>
            </div>
            <div class="col-7">
              <h5>
                <span class="growth-description">
                  From Previous
                  <span class="filter-day-count">0</span>
                  Days
                </span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>