<div class="report-filter-container">
  <nav class="nav nav-pills nav-justified">
    <a class="nav-link active" href="#">1W</a>
    <a class="nav-link" href="#">1M</a>
    <a class="nav-link" href="#">3M</a>
    <a class="nav-link" href="#">1Y</a>
    <div class="date-range-container">
      <div class="date-range-container-left">Date Range</div>
      <div class="date-range-container-right">4/18/20 - 5/18/20</div>
    </div>
  </nav>
</div>