<div class="row chart-padding-wrapper">
  <div class="chart-container col-12">
    <div class="chart-content">
      <h2>Growth Activities</h2>
      <h3>
        <span class="report-page-start-date">30 February 2020</span>
        -
        <span class="report-page-end-date">32 February 2020</span>
      </h3>

      <nav>
        <div class="nav nav-tabs chart-tabs" role="tablist">
          <a class="chart-tab active" href="#chart-participants" data-toggle="tab" >Sign Ons / Engagement</a>
          <a class="chart-tab"  href="#chart-subscriptions" data-toggle="tab" >Donor Subscriptions</a>
          <a class="chart-tab" href="#chart-arrestable"  data-toggle="tab" >Arrestable Pledges</a>
        </div>
      </nav>

      <div class="tab-content">

        <div id="chart-participants" class="tab-pane active" role="tabpanel">
          <div class="chart-prompt">
            This chart shows the total number of people engaged (gray) and the number of new sign ons (color) for each activity.
          </div>
          <div class="mobilizations-chart" >
            <!-- Canvas chart will populate here -->
          </div>
          <div class="chart-metrics">
            <div class="mobilization-metrics-container"></div>
            <div class="description">Colors Represent Totals New Sign Ons Per Activity.</div>
          </div>
        </div>

        <div id="chart-subscriptions" class="tab-pane" role="tabpanel">
          <div class="chart-prompt">
            Total Subscriptions by Growth Activity
          </div>
          <div class="mobilizations-chart-subscriptions" >
            <!-- Canvas chart will populate here -->
          </div>
          <div class="chart-metrics">
            <div class="mobilization-metrics-container-subscriptions"></div>
            <div class="description">Colors represent total New Subscriptions per Activity.</div>
          </div>
        </div>

        <div id="chart-arrestable" class="tab-pane" role="tabpanel">
          <div class="chart-prompt">
            Total New Arrestable Pledges by Growth Activity
          </div>
          <div class="mobilizations-chart-arrestable-pledges" >
            <!-- Canvas chart will populate here -->
          </div>
          <div class="chart-metrics">
            <div class="mobilization-metrics-container-arrestable-pledges"></div>
            <div class="description">Colors represent total New Arrestable Pledges per Activity.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>