<div class="report-tiles-container">
  <div class="row">
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-left">
          <h1 id="members">0</h1>
          <h3>Total</h3>
        </div>
        <h2>Members</h2>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-left">
          <h1 id="chapters">0</h1>
          <h3>Growth</h3>
        </div>
        <h2>Chapters</h2>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-left">
          <h1 id="actions">0</h1>
          <h3>Growth</h3>
        </div>
        <h2>Actions</h2>
      </div>
    </div>
    <div class="report-card-container col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="report-card-content">
        <div class="report-card-left" >
          <h1 id="trainings">0</h1>
          <h3>Total</h3>
        </div>
        <h2>Trainings</h2>
      </div>
    </div>
  </div>
</div>

<script>
    const stripHash = hash => hash ? hash.substring(1) : '';
    const setDateRange = (start, end) => {
        document.getElementById('report-page-start-date').textContent = start;
        document.getElementById('report-page-end-date').textContent = end;
    }

    const getData = (hash) => {
        $.ajax({
            url: '<%= report_tiles_path %>',
            type: 'get',
            data: {dateRange: stripHash(hash)}
        }).done((data) => {
            $('#members').html(data.members);
            $('#chapters').html(data.chapters);
            $('#actions').html(data.actions);
            $('#trainings').html(data.trainings);
            setDateRange(data.start_date, data.end_date);
        });
    }

    window.addEventListener("hashchange", () => getData(location.hash), false);

    if(location.hash === '#month' || location.hash === '#quarter' || location.hash === '#year' || location.hash === '#week') {
        getData(location.hash);
    } else {
        location.hash = 'week';
    }
</script>