<table class="table table-bordered report-table ">
  <thead>
  <tr>
    <th scope="col" xr-table-key="country">Country</th>
    <th scope="col" xr-table-key="members">Members</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<script>
    (() => {
        let data = {};
        let tableHead = $("table.report-table thead");
        tableHead.find("tr th").click(function () {
            let orderAsc = $(this).attr("asc");
            if (orderAsc) {
                $(this).removeAttr("asc");
                orderAsc = false;
            }else{
                $(this).attr("asc", "true");
                orderAsc = true;
            }
            sortBy($(this).attr("xr-table-key"), orderAsc);
        });

        function sortBy(columnName, asc) {
            let order = (x, y) => x[columnName] < y[columnName];
            if (asc) order = (x, y) => x[columnName] > y[columnName];
            data = data.sort(order);
            renderTable(data);
        }

        const record = (country, members) => {
            return `<tr>
                      <th scope="row">${country}</th>
                      <td>${members}</td>
                    </tr>`
        };

        function renderTable(data) {
            let tableBody = $("table.report-table tbody");
            tableBody.empty();
            $.each(data, function (i, x) {
                tableBody.append(record(x.country, x.members));
            });
        }

        $.getJSON("reports/table", function (result) {
            data = result.sort((x, y) => x.members < y.members);
            renderTable(result);
        });
    })();
</script>