<div class="row">
  <div class="report-card-container col-lg-4 col-md-6 col-sm-1">
    <div class="report-card-content">
      <div class="report-card-left">
        <h1>1</h1>
        <h3>Total</h3>
      </div>
      <h2>Members</h2>
    </div>
  </div>
  <div class="report-card-container col-lg-4 col-md-6 col-sm-1">
    <div class="report-card-content">
      <div class="report-card-left">
        <h1 class="text-success">+7</h1>
        <h3>Growth</h3>
      </div>
      <h2>New Members</h2>
    </div>
  </div>
  <div class="report-card-container col-lg-4 col-md-6 col-sm-1">
    <div class="report-card-content">
      <div class="report-card-left">
        <h1 class="text-warning">$1k</h1>
        <h3>Growth</h3>
      </div>
      <h2>Subscriptions</h2>
    </div>
  </div>
  <div class="report-card-container col-lg-4 col-md-6 col-sm-1">
    <div class="report-card-content">
      <div class="report-card-left">
        <h1>1</h1>
        <h3>Total</h3>
      </div>
      <h2>Arrestable</h2>
    </div>
  </div>
  <div class="report-card-container col-lg-4 col-md-6 col-sm-1">
    <div class="report-card-content">
      <div class="report-card-left">
        <h1 class="text-danger">-7</h1>
        <h3>Attrition</h3>
      </div>
      <h2>Arrestable</h2>
    </div>
  </div>
  <div class="report-card-container col-lg-4  col-md-6 col-sm-1">
    <div class="report-card-content">
      <div class="report-card-left">
        <h1 class="text-info">10</h1>
        <h3>Total</h3>
      </div>
      <h2>Arrests</h2>
    </div>
  </div>
</div>