<% if current_page?(controller: 'forms', action: 'index') %>
  <h4 class="form-index-date-heading">Entering details for 'Report <span id="reporting-period">CW</span>'</h4>
<% else %>
  <h4 class="date-partial">Entering details for 'Report <span id="reporting-period">CW</span>'</h4>
<% end %>

<script>
    (() => {
        let from = getMonday();
        let to = getSunday();
        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        set_week(from, to);

        function set_week(fromDate, toDate) {
            let from = `${String(fromDate.getDate()).padStart(2, '0')} ${String(monthNames[fromDate.getMonth()])} ${fromDate.getFullYear()}`;
            let to = `${String(toDate.getDate()).padStart(2, '0')} ${String(monthNames[toDate.getMonth()])}  ${toDate.getFullYear()}`;
            document.getElementById('reporting-period').innerHTML = `${from} - ${to}`;
        }

        function getSunday() {
            let today = new Date(Date.now());
            let sunday= new Date(today.getTime());
            sunday.setDate(today.getDate() + (today.getDay() + (6 - today.getDay())));
            sunday.setHours(23, 59, 59);
            return sunday;
        }

        function getMonday() {
            let today = new Date(Date.now());
            let monday = new Date(today.getTime());
            monday.setDate(today.getDate() - (today.getDay() - 1));
            monday.setHours(0, 0, 0);
            return monday;
        }
    })();
</script>