<footer class="footer">
  <div class="container">
    <p>
      <a class="footer-link" href="https://docs.google.com/document/d/1_1kQxVIMajfnPtU0eEL3kL4Xf9Mlmi4lfwiWUu7yJFU/" target="_blank">FAQ</a>
      <a class="footer-link" href="https://docs.google.com/document/d/1A68aRI0LIM83hL5z54VmwkwaiaBBmtqlmUT8Hppk__A/" target="_blank">Privacy & Compliance</a>
      <a class="footer-link" href="https://github.com/Mobilize-Earth/" target="_blank">Github</a>
    </p>
  </div>
</footer>