<div class="container-fluid header">
  <div class="row">
    <div class="col-md">
    </div>
    <div class="col-md">
    </div>
    <div class="col-md offset-md-3">
      <% if current_user.nil? %>
       <%= link_to new_user_session_path, class: "btn login-button" do %>Log In<% end %>
      <% else %>
       <%= link_to dashboard_index_url, class: "btn regular-button" do %>Go to App<% end %>
       <%= link_to destroy_user_session_path, class: "btn regular-button", method: :delete do %>Log out<% end %>
      <% end %>
    </div>
  </div>
</div>
