<nav>
  <% if current_user %>
    <% if current_user.role == 'admin' %>
      <%= link_to "Onboarding", admins_root_path, {class: controller_name == 'admins' && action_name == 'index' ? 'selected' : '', id: 'onboarding-nav-link'} %>
    <% end %>

    <% if current_user.role == 'external' %>
      <%= link_to "Report Entry", admins_root_path, {class: controller_name == 'forms' && action_name == 'index' ? 'selected' : '', id: 'report-entry-nav-link'} %>
    <% end %>

    <% if current_user.role == 'admin' || current_user.role == 'external' %>
      <%= link_to "View Reports", reports_path, {class: controller_name == 'reports' && action_name == 'index' ? 'selected' : '', id: 'view-reports-nav-link'} %>
    <% end %>
  <% end %>
</nav>